.fundoCadastro {
    background-image: url(src/assets/images/Cadastro.jpg);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }