.fundoLogin {
<<<<<<< HEAD
    background-image: url(../../assets/images/campo.jpg);
=======
    background-image: url(../../assets/images/campu.jpg);
>>>>>>> 920cb4066d800a108c5b1a8256f998d3bb3e021f
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
  }