.nav-cont{
    margin: 0 auto;
    padding: 5px 2px 3px 4px;
}

.p-logo{
    text-align: center;
}

.bg-geral {
    background-image: url(./assets/images/bg-home.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
   }

     /* Estilo para o container do ícone do carrinho ------NÃO ESTÁ SENDO USADO------*/
  .cart-container {
    width: 40px; /* Define a largura do container */
    height: 40px; /* Define a altura do container */
    background-color: #270606; /* Cor de fundo do container (opcional) */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Transforma o container em um círculo */
    position: absolute; 
    transition: transform 0.3s ease-in-out;
  }

  
  /* Estilo para o ícone do carrinho */
  .cart-icon {
    width: 70px;
    height: auto;
    margin: auto;
    transition: transform 0.3s ease-in-out; 
  }

  .cart-icon:hover {
    transform: scale(1.2); /* Aumenta o ícone em 20% no hover */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
  }




  /*       Página de Carrinho         */
  .cont-cart{
    background-color:#4f8d684b;

  }

  .cart-img{
    width: 70px;
  }

  .f-button{
    background-color:#4F8D68;
    transition: transform 0.3s ease-in-out; 
   }

  .f-button:hover{
    background-color: #306245;
    transform: scale(1.3)
  }


  .del-button{
    background-color: #9d3103;
  }
  .del-button:hover{
    background-color: #c03b07;
  }

.x-button{
}

 /* .bg-cart {
  background-image: url(./assets/images/bg-cart.jpg);
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;

  }
  */

  .p-cart{
    padding-top: 3px;
  
  }


  .add-button{
    background-color:#4F8D68;
    transition: transform 0.2s ease-in-out; 
   }

  .add-button:hover{
    background-color: #306245;
    transform: scale(1.1)
  }

  .bg-green-organi{
    background-color:#4F8D68;
  }

  .bg-green-organi:hover{
    background-color: #306245;
  }
